html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#view-target {
  margin: 0;
  padding: 0;
  z-index: 1000;
}

image {
  image-rendering: pixelated;
}
